
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https://projects.verou.me/css3patterns/ */

body{
background-color: #a5fcb0 !important;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%) !important;
background-size: 50px 50px !important;
}

h1,
h2 {
  background-color: rgb(125, 214, 255) ;
  border-radius: 20px;
  color: rgb(255, 254, 181);
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 5px solid  rgb(125, 214, 255);
  border-radius: 30px;
}
